cisco-spark-bitbucket-integration/src/main/app/bitbucket-api-calls.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
  	
  	<http:request-config name="HTTP_Access_Token_Request_Configuration" protocol="HTTPS" host="${bitbucket.api.access.token.host}" port="${bitbucket.api.access.token.port}"  doc:name="HTTP Request Configuration"/>
  	
 	<http:request-config name="HTTP_Operations_Request_Configuration" protocol="HTTPS" host="${bitbucket.api.operations.host}" port="${bitbucket.api.operations.port}" basePath="${bitbucket.api.operations.base.path}" doc:name="HTTP Request Configuration"/>
    
    <validation:config name="Validation_Configuration" doc:name="Validation Configuration"/>
     
    <flow name="postBitbucketTokenFlow">
    	<dw:transform-message doc:name="Build Post Bitbucket Token Request">
            <dw:set-payload resource="classpath:dwScripts/buildPostBitbucketTokenRequest.dwl"/>
        </dw:transform-message>
        
        <http:request config-ref="HTTP_Access_Token_Request_Configuration" path="${bitbucket.api.access.token.path}" method="POST" doc:name="HTTP">
        	<http:request-builder>
                <http:header headerName="Content-Type" value="application/x-www-form-urlencoded"/>


            </http:request-builder>
            <http:failure-status-code-validator values="500..599"/>
        </http:request>
        
        <flow-ref name="checkResponseStatusCodeFlow" doc:name="Check Response Status Code Flow Reference"/>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="refreshBitbucketTokenFlow">
       <dw:transform-message doc:name="Build Post Bitbucket Token Request">
           <dw:set-payload resource="classpath:dwScripts/buildRefreshBitbucketTokenRequest.dwl"/>

       </dw:transform-message>
       
       <http:request config-ref="HTTP_Access_Token_Request_Configuration" path="${bitbucket.api.access.token.path}" method="POST" doc:name="HTTP">
           <http:request-builder>
                <http:header headerName="Content-Type" value="application/x-www-form-urlencoded"/>





           </http:request-builder>
           <http:failure-status-code-validator values="500..599"/>
       </http:request>
       
       <flow-ref name="checkResponseStatusCodeFlow" doc:name="Check Response Status Code Flow Reference"/>
       
       <dw:transform-message doc:name="Transform Response to Java">
           <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
       </dw:transform-message>
   </flow>
    
    <flow name="getBitbucketUserFlow">
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/user" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>


            </http:request-builder>
            <http:failure-status-code-validator values="500..599"/>
        </http:request>
        
        <flow-ref name="checkResponseStatusCodeFlow" doc:name="Check Response Status Code Flow Reference"/>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="getBitbucketSpecificRepoFromSlugIdFlow">
        <expression-component doc:name="Expression"><![CDATA[flowVars.repoId = flowVars.repoId.toString().replace('{','%7B').replace('}','%7D')]]></expression-component>
        <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}/{repoId}" method="GET" doc:name="HTTP">
           <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:uri-param paramName="repoId" value="#[flowVars.repoId]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>

           </http:request-builder>
           <http:failure-status-code-validator values="500..599"/>
       </http:request>
       
       <flow-ref name="checkResponseStatusCodeFlow" doc:name="Check Response Status Code Flow Reference"/>
       
       <dw:transform-message doc:name="Transform Response to Java">
           <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
       </dw:transform-message>
   </flow>
    
    
	<flow name="getBitbucketRepositoriesFlow">
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>


            </http:request-builder>
            <http:failure-status-code-validator values="500..599"/>
        </http:request>
        
        <flow-ref name="checkResponseStatusCodeFlow" doc:name="Check Response Status Code Flow Reference"/>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="postBitbucketHookFlow">
        <logger message="TTTTTTTTTTTTTTTTTTTT #[flowVars.hookBody]" level="INFO" doc:name="Logger"/>
       <dw:transform-message doc:name="Build Post Bitbuchet Hook Request">
           <dw:set-payload resource="classpath:dwScripts/buildPostBitbucketHookRequest.dwl"/>
       </dw:transform-message>
        <logger message="PAYLOAD #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>

        <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}/{repository}/hooks" method="POST" doc:name="HTTP">
           <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:uri-param paramName="repository" value="#[flowVars.repository]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>



           </http:request-builder>
           <http:failure-status-code-validator values="500..599"/>
       </http:request>

       
       <flow-ref name="checkResponseStatusCodeFlow" doc:name="Check Response Status Code Flow Reference"/>
        <logger message="#[message.payloadAs(java.lang.String)] PAYLOADPAYLOAD" level="INFO" doc:name="Logger"/>
       
       <dw:transform-message doc:name="Transform Response to Java">
           <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
       </dw:transform-message>
   </flow>

    
    
    <flow name="putBitbucketHookFlow">
        <dw:transform-message doc:name="Build Put Bitbuchet Hook Request">
            <dw:set-payload resource="classpath:dwScripts/buildPutBitbucketHookRequest.dwl"/>
        </dw:transform-message>
        <expression-component doc:name="Remove Curly Braces"><![CDATA[flowVars.hookId = flowVars.hookId.toString().replace('{','').replace('}','')]]></expression-component>
        
    	<http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}/{repository}/hooks/{hookId}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:uri-param paramName="repository" value="#[flowVars.repository]"/>
                <http:uri-param paramName="hookId" value="#[flowVars.hookId]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>


            </http:request-builder>
            <http:failure-status-code-validator values="500..599"/>
        </http:request>
        
        <flow-ref name="checkResponseStatusCodeFlow" doc:name="Check Response Status Code Flow Reference"/>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="deleteBitbucketHookFlow">
        <expression-component doc:name="Remove Curly Braces"><![CDATA[flowVars.hookId = flowVars.hookId.toString().replace('{','').replace('}','')]]></expression-component>
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}/{repository}/hooks/{hookId}" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:uri-param paramName="repository" value="#[flowVars.repository]"/>
                <http:uri-param paramName="hookId" value="#[flowVars.hookId]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>


            </http:request-builder>
            <http:failure-status-code-validator values="500..599"/>
        </http:request>
        
        <flow-ref name="checkResponseStatusCodeFlow" doc:name="Check Response Status Code Flow Reference"/>
        
        <dw:transform-message doc:name="Build Delete Bitbucket Hook Response ">
            <dw:set-payload resource="classpath:dwScripts/buildDeleteBitbucketHookResponse.dwl"/>
        </dw:transform-message>
    </flow>
    
    
    <flow name="getBitbucketHookFlow">
        <expression-component doc:name="Remove Curly Braces"><![CDATA[flowVars.hookId = flowVars.hookId.toString().replace('{','').replace('}','')]]></expression-component>
    	 <http:request config-ref="HTTP_Operations_Request_Configuration" path="/repositories/{user}/{repository}/hooks/{hookId}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="user" value="#[flowVars.user]"/>
                <http:uri-param paramName="repository" value="#[flowVars.repository]"/>
                <http:uri-param paramName="hookId" value="#[flowVars.hookId]"/>
                <http:header headerName="Authorization" value="Bearer #[flowVars.token]"/>


            </http:request-builder>
            <http:failure-status-code-validator values="500..599"/>
        </http:request>
        
        <flow-ref name="checkResponseStatusCodeFlow" doc:name="checkResponseStatusCodeFlow"/>
        
        <dw:transform-message doc:name="Transform Response to Java">
            <dw:set-payload resource="classpath:dwScripts/fromPayloadToJava.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="checkResponseStatusCodeFlow">
        <validation:is-true config-ref="Validation_Configuration" expression="#[message.inboundProperties.'http.status' != 401 &amp;&amp; message.inboundProperties.'http.status' != 429]" doc:name="Validation"/>
    </flow>
</mule>
